.qa_carousel {
	padding: 2rem;
}

.qa_carousel-item-container {
	padding: 1.5rem 1rem;
	margin-right: 1.2rem;
	height: auto;
	min-height: 350px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.qa_carousel .react-multi-carousel-item {
	opacity: 1;
	transition: opacity 300ms linear;
}

.qa_carousel li:not(.react-multi-carousel-item--active) {
	opacity: 0.6;
}

.qa_carousel .text-md {
	white-space: pre-wrap;
}

.qa_carousel.qa_carousel-second {
	padding: 2rem 0;
	overflow: visible;
}

.qa_carousel.qa_carousel-second .react-multi-carousel-item:last-child .qa_carousel-item-container {
	margin-right: 0;
}