h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #0364ca;
  font-weight: 700;
  text-align: center;
}

h3 {
  margin: 1.75rem 0 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

h5 {
  font-size: 0.85rem;
  margin: 1rem 0;
  font-weight: 700;
}

.text-sm {
  font-size: 0.7rem;
  line-height: 1rem;
}

.text-md {
	font-size: 0.75rem;
	line-height: 1.2rem;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}